<header id="site-header" class="site-header">
  <div class="site-header-inner">
    <a class="site-logo" href="/"><img src="/assets/images/logo.png" width="150" height="35" alt="Billboard Agency International"></a>
    <button id="nav-toggle" class="nav-toggle" type="button" aria-expanded="false" aria-controls="site-nav">Menu</button>
    <nav id="site-nav" class="site-nav" aria-label="Primary">
      <ul class="menu">
        <li class="has-sub">
          <a class="menu-link" href="/about-us/">About Us</a>
          <ul class="sub-menu">
            <li><a href="/accreditations/">Accreditations</a></li>
          </ul>
        </li>
        <li><a class="menu-link" href="/services/">Services</a></li>
        <li class="has-sub">
          <a class="menu-link" href="/our-work/">Our Work</a>
          <ul class="sub-menu">
            <li><a href="/case-studies/">Case Studies</a></li>
          </ul>
        </li>
        <li><a class="menu-link" href="/sustainability/">Sustainability</a></li>
        <li><a class="menu-link menu-cta" href="/contact-us/">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
